<div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
  <table class="table">
    <thead>
      <tr>
        <th>Id utilisateur</th>
        <th>N° de compte</th>
        <th>Type</th>
        <th>Solde</th>
        <th>Date de dernière transaction</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for(account of accounts; track account.id) {
      <tr>
        <th>{{account.userId}}</th>
        <th>{{account.accountNumber}}</th>
        <th>{{account.accountType}}</th>
        <th>{{account.solde}}</th>
        <th>{{account.lastTransactionDate}}</th>
        <th>
          <!--
          <button class="btn btn-primary" [routerLink]="`/comptes-bancaire/${account.id}`">Voir plus</button>
        -->
          <button class="btn btn-primary mx-2" [routerLink]="['/comptes-bancaire', account.id]">Voir plus</button>
          <button class="btn btn-primary mx-2" (click)="handleRedirectDetails(account.id)">Voir plus</button>
          <button (click)="handleDelete(account.id)" class="mx-2 btn btn-error">Supprimer</button>

          @if(displayUpdateButton){
          <button (click)="handleUpdate(account)" class="mx-2 btn btn-warning">Modifier</button>
          }
        </th>
      </tr>
      }
    </tbody>
  </table>
</div>