<header class="shadow-sm bg-secondary text-base-100">
  <div class="container mx-auto">
    <nav class="navbar" aria-label="Navigation principale">
      <div class="navbar-start ml-5">
        <a routerLink="" routerLinkActive="active underline text-2xl" [routerLinkActiveOptions]="{ exact: true}"
          class="text-xl font-semibold cursor-pointer mr-5 hover:underline" aria-label="Accueil">Accueil</a>
        <a routerLink="comptes-bancaire" routerLinkActive="active underline text-2xl"
          class="text-xl font-semibold cursor-pointer mr-5 hover:underline" aria-label="Compte bancaire">Compte
          bancaire</a>
        <a routerLink="actualites" routerLinkActive="active underline text-2xl"
          class="text-xl font-semibold cursor-pointer mr-5 hover:underline" aria-label="Nos actualités">Nos
          actualités</a>
      </div>
      <div class="navbar-center">
        <!-- Contenu central si nécessaire -->
      </div>
      <div class="navbar-end mr-5">
        <a class="text-xl font-semibold cursor-pointer hover:underline focus:outline-none"
          aria-label="Se connecter à votre compte">Se
          connecter</a>
      </div>
    </nav>
  </div>
</header>